rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // USERS COLLECTION
    match /users/{userId} {
      allow read, write: if isSelf(userId);
    }

    // JOBS COLLECTION
    match /jobs/{jobId} {
      allow read, write: if isSignedIn();
    }

    // HACKATHONS COLLECTION
    match /hackathons/{hackathonId} {
      allow read, write: if isSignedIn();
    }

    // APPLICATIONS COLLECTION
    match /applications/{applicationId} {
      allow read, write: if isSignedIn();
    }

    // NOTIFICATIONS COLLECTION
    match /notifications/{notificationId} {
      allow create: if isSignedIn();
      allow read: if isSignedIn();
      allow update, delete: if isSignedIn() && (
        resource.data.userId == request.auth.uid || 
        resource.data.recruiterId == request.auth.uid ||
        resource.data.candidateId == request.auth.uid
      );
    }
  }
}
